@import "../index.scss";

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar .navbar-nav .nav-item {
  cursor: pointer;
}

.selected-nav-item {
  font-weight: bold;
  text-decoration: underline;
}
