@import "../index.scss";

.Todo {
  overflow: hidden;
}

.Todo .card {
  transition: background-color 0.3s;
}

.Todo .card-body {
  min-height: 0;
  height: 0;
  overflow: hidden;
  display: none;
  transition: height 0.5s linear;
}
